@import "tailwindcss";

@theme inline {
  --color-background: #ffffff;
  --color-foreground: #111827;
  --font-sans: var(--font-inter);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
}
